.current-issues p span {
    color: #707070;
    text-align: left;
    margin: 1px 0;
}

.current-issues {
    max-height: 360px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 20px;
}

.current-issues p span {
    display: inline-block;
    margin-left: 20px;
}

.current-issues p span,
.current-issues .description-text {
    color: #959595;
}

.current-issues .indv-issues {
    position: relative;
}

.current-issues .close-issue {
    position: relative;
    color: #959595;
}

.current-issues hr {
    border: none;
    background: grey;
    height: 1px;
    margin-top: 20px;
}